extends ../shared/template
block content
  h2 Adresses

  table.table.table-striped.table-over.table-bordered
    thead
      tr
        th Name
        th Twitter
  tbody
    each adress in adresses
        tr
          td= adress.name
          td= adress.twitter
          td(style='background-color:#{adress.color};')= adress.color
block scripts
